extends layout

block vars
	- var actives = {};
	- actives.me = 'active';

block content
	.row
		.col-xs-12#personal-page
			| !{ typogr(page.html).typogrify() }

	.row
		.col-xs-12#repos

block side
	ul.nav.nav-pills.nav-stacked
		li
			a(href="#intro-sec") Intro
		li
			a(href="#skills-sec") Skills
		li
			a(href="#projects-sec") Projects
		li
			a(href="#", onclick="javascript:window.scrollTo(0, 0)") Top ^