extends layout

block vars
	- var actives = {};
	- actives.me = 'active';

block content
	.row#intro-sec
		.col-xs-10.col-sm-12
			!=contents['intro.md'].html

	.row#skills-sec
		.col-xs-10.col-sm-12
			!=contents['skills.md'].html

	.row#projects-sec
		.col-xs-10.col-sm-12
			!=contents['projects.md'].html
		.col-xs-10.col-sm-12
			#repos

block side
	ul.nav.nav-pills.nav-stacked
		li
			a(href="#intro-sec") Intro
		li
			a(href="#skills-sec") Skills
		li
			a(href="#projects-sec") Projects